* {
    box-sizing: border-box;
}

.body {
    width: 598px;
    padding: 24px 23px;
    margin: 0 auto;
    background: #f5f5f5;
    font-weight: 500;
}

.header {
    min-height: 44px;
    vertical-align: top;
    background: #414141;
    border-radius: 8px;
    font-size: 0;
    margin-bottom: 15px;
}

.nav {
    display: inline-block;
    width: 363px;
    min-height: 44px;
    font-size: 0;
}

.nav__item {
    display: inline-block;
    position: relative;
}

.nav__item:hover {
    display: inline-block;
    background: #3a3838;
    transition: 0.3s;
}

.nav:first-child {
    margin-left: 10px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 5px 9px 5px 10px;
    font-size: 12px;
    line-height: 34px;
    min-height: 34px;
    display: inline-block;
    border-right: 1px solid #5c5c5c;
}

.nav__link:nth-child(1) {
    border-right: 0;
}

.nav__item:nth-child(1)::after, .nav__item:nth-child(2)::after, .nav__item:nth-child(3)::after {
    content: '';
    position: absolute;
    height: 25px;
    top: 10px;
    right: 0;
    border-right: 1px solid #5c5c5c;
}

.drop-down-list {
    position: absolute;
    list-style: none;
    left: -9999px;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.drop-down-list__item {
    width: 100%;
    background: #414141;
    text-align: center;
}

.nav__link:hover ~ .drop-down-list, .drop-down-list:hover {
    top: 100%;
    left: 0;
    opacity: 1;
}

.drop-down-list__item:hover {
    background: #3a3838;
}

.drop-down-list__item:active {
    background: #333131;
}

.drop-down-list__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 13px 5px 13px;
    margin: 0;
    line-height: 30px;
    min-height: 34px;
    /*width: ;*/
    border-bottom: 1px solid #5c5c5c;
    text-align: center;
}

.search {
    display: inline-block;
    width: 160px;
    position: relative;
    margin: 9px;
    height: 26px;
    vertical-align: top;
}

.search__input {
    width: 130px;
    border: none;
    outline: none;
    height: 26px;
    border-radius: 3px;
    padding: 0;
}

input[placeholder] {
    color: #bdbdbb;
    font-size: 12px;
    letter-spacing: 0.045em;
    line-height: 26px;
    padding-left: 10px;
}

.search__input::-moz-placeholder {
    color: #bdbdbb;
    font-size: 12px;
    letter-spacing: 0.045em;
    line-height: 26px;
    padding-left: 10px;
}

.search__input:-moz-placeholder {
    color: #bdbdbb;
    font-size: 12px;
    letter-spacing: 0.045em;
    line-height: 26px;
    padding-left: 10px;
}

.search__input:-ms-input-placeholder {
    color: #bdbdbb;
    font-size: 12px;
    letter-spacing: 0.045em;
    line-height: 26px;
    padding-left: 10px;
}

.search__input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.search__input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.search__input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.search__input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.search__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search__input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search__input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search__input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    border-radius: 0 3px 3px 0;
    border: 0;
    font-size: 12px;
    color: #fdfefe;
    background: #29b77b;
}

.search__submit:hover {
    color: #414141;
}

.discount {
    font-size: 0;
    width: 552px;
    padding: 20px 31px 20px 30px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.46);
}

.discount__img {
    margin-right: 8px;
    vertical-align: top;
}

.discount__img:nth-child(3) {
    margin-right: 0;
}

.discount__header {
    font-size: 23px;
    line-height: 23px;
    margin: 24px 0;
    color: #29b77b;
    text-align: center;
}

.discount__link {
    text-decoration: none;
    color: #29b77b;
}

.discount__link:hover {
    cursor: pointer;
    color: #31cc8a;
}

.user-bio__item {
    font-size: 13px;
    line-height: 25px;
    color: #000000;
    background: #f5f5f5;
    padding: 7px 0 7px 13px;
    position: relative;
    font-weight: 700;
    margin: 0;
    border-radius: 3px;
}

.user-bio__item:nth-child(even) {
    background: #ffffff;
}

.user-bio__content {
    position: absolute;
    left: 110px;
    font-weight: 500;
    color: #8c8c8c;
}

.description {
    font-size: 14px;
    line-height: 19px;
    margin: 6px 0;
    padding: 0;
}

.discount__value {
    font-weight: 700;
}

.discount__market {
    color: #29b77b;
    text-decoration: underline;
}

.discount__market:hover {
    cursor: pointer;
    color: #31cc8a;
}

.discount::after {
    content: '';
    position: absolute;
    height: 40px;
    margin-left: -15px;
    text-align: center;
    width: 530px;
    border-bottom: 1px dashed #5c5c5c;
}

.address {
    font-size: 0;
    width: 552px;
    padding: 20px 31px 20px 30px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.46);
}

.address__scheme_scheme-1 {
    width: 493px;
    height: 195px;
    background: url('../images/maps/scheme-1.jpg') no-repeat;
    margin-bottom: 23px;
    margin-top: 13px;
}

.address__map_map-1 {
    width: 493px;
    height: 320px;
    background: url('../images/maps/map-1.jpg') no-repeat;
    margin-bottom: 23px;
}

.tabs__item {
    display: inline-block;
    vertical-align: top;

}

.tabs__list {
    margin: 0 0 180px 0;
    padding: 0;
    font-size: 0;
    width: 493px;
    position: relative;
    /*border-bottom: 2px solid #29b77b;*/
}

.tabs__name {
    display: inline-block;
    width: 115px;
    height: 47px;
    margin-right: 11px;
    background: #29b77b;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-size: 14px;
    padding-top: 16px;
    text-align: center;
    vertical-align: top;
    position: relative;
    border-left: 2px solid #29b77b;
    border-right: 2px solid #29b77b;
    border-top: 2px solid #29b77b;
    transition: 0.3s;
}

.tabs__name:hover {
    cursor: pointer;
    background: #269e6b;
}

.tabs__item:last-child .tabs__name {
    margin-right: 0;
    float: right;
}

.tabs__item:nth-child(1) .tabs__name::after,
.tabs__item:nth-child(2) .tabs__name::after,
.tabs__item:nth-child(3) .tabs__name::after {
    content: '';
    position: absolute;
    width: 11px;
    bottom: 0;
    right: -13px;
    border-bottom: 2px solid #29b77b;
}

.tabs__item_active .tabs__name {
    background: #ffffff;
    color: #29b77b;
}

.tabs__content {
    position: absolute;
    left: 0;
    top: 47px;
    display: none;
    padding: 0 40px 0 14px;
    width: 493px;
    min-height: 110px;
    margin-right: 0;
    border-radius: 0;
    color: #000000;
    text-align: left;
    vertical-align: top;
    border: 0;
}

.tabs__content_active {
    display: inline-block;
}

.address__transport {
    font-size: 18px;
}

.address__from {
    font-size: 15px;
    color: #29b77b;
}

.address__way {
    font-size: 13px;
}